form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    width: calc(100% / 3);
}

label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    display: block;
    width: calc(100% - 30px);
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428;
    color: #555;
    background-color: #eee;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* margin-bottom: 20px; */
}

button {
    width: calc(100% / 3);
    background-color: #4d32c6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px 8px;
    color: #ccc;
    font-weight: bold;
    border-radius: 5.5px;
    margin-bottom: 2px;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    margin: 25px 0 10px 0;
}

button:hover {
    width: calc(calc(100% / 3) + 30px);
    padding: 10px;
    font-size: 16px;
    background-color: #2907bf;
    cursor: pointer;
    color: #fff;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.errors {
    color: rgb(220, 30, 30);
    font-weight: 500;
    font-family: "Courier New", Courier;
    font-size: 15px;
    font-stretch: condensed;
}

.errors > strong {
    font-weight: 900;
    font-size: 16px;
}
